$primary-color: #333 !default;
$secondary-color: #ccc !default;
$title-color: #222 !default;
$highlight-link: #cbf8df !default;
$normal-link: #ddd !default;

$bg-white: #fff !default;
$bg-gray: #f5f5f5 !default;
$divider-color: #eaeaea !default;

// ========== Global ========== //
// Text color of the body.
$global-font-color: $primary-color;

// Font size attribute applied to '<html>' and '<body>'.
$global-font-size: 16px !default;

// Global width of '<body>'.
$global-body-width: 800px !default;

// Font family of the site.
$global-font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif !default;

// Background color of the site.
$global-background: $bg-white;

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  color: $global-font-color;
  background: $global-background;
  font-size: $global-font-size;
  font-size: $global-font-size;
  font-family: $global-font-family;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-color;
}

a {
  outline: none;
}

.app {
  overflow: hidden;
  position: relative;
}

.header {
  padding: 1rem 0;
  position: relative;
  background: $bg-gray;
  border-bottom: 1px solid $divider-color;
}

// 导航
.nav {
  max-width: $global-body-width;
  margin: 0 auto;
  padding: 0 1rem;
  text-align: right;

  .nav-links {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    list-style: none;

    li {
      display: inline-block;
      margin: 0 0 0 1rem;
    }

    li:first-child {
      margin-left: 0;
    }

    a {
      text-decoration: none;
      color: $title-color;
    }
  }
}

// 主要内容
.main {
  max-width: $global-body-width;
  margin: 2rem auto 0.6rem;
  padding: 0 1.2rem;
  font-size: 1rem;
  line-height: 1.8;

  img {
    max-width: 100%;
  }
}

// 文章
.article {
  .article-title {
    font-size: 2rem;
    color: $title-color;
    margin: 0;
    line-height: 1.3;
  }

  .article-date {
    color: $secondary-color;
  }

  .article-tag {
    margin-left: 3px;
    padding: 2px 8px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 0.9rem;
    color: $secondary-color;
    border: $secondary-color 1px solid;
    transition: color 0.3s ease;
  }

  .article-content p {
    margin: 1rem 0 1.5rem;
  }

  .article-content a {
    text-decoration: none;
    color: inherit;
    border-bottom: 3px solid $highlight-link;
    box-shadow: inset 0 -4px 0 $highlight-link;
    background: transparent;
    transition: background 150ms ease;
  }

  .article-content a:hover,
  .article-content a:focus {
    background: $highlight-link;
  }
}

// 文章列表
.posts {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.3;
  text-align: center;

  .post-title {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .post-item {
    margin: 0.3rem 0 1rem;
    padding: 0;
  }

  .post-item-date {
    color: $secondary-color;
    font-size: 0.9rem;
    padding: 0.3rem 0;
    margin-top: 0.3rem;
    display: block;
  }

  .post-item-link {
    color: $title-color;
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.3rem 0;
    border-bottom: 1px solid $normal-link;
  }

  .post-item-link:hover {
    border-bottom-color: $title-color;
  }
}

/* 标签列表 */
.tags {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.8;
  outline: none;

  a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
    border-bottom: 3px solid $highlight-link;
    box-shadow: inset 0 -4px 0 $highlight-link;
    background: transparent;
    transition: background 150ms ease;
  }

  a:hover,
  a:focus {
    background: $highlight-link;
  }
}

// 高亮
.highlight {
  border-radius: 3px;
  position: relative;
  margin: 1.2rem 0px;
  font-size: 1rem;
}

// 底部
.footer {
  padding: 1.5rem 0;
  text-align: center;

  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    color: $secondary-color;
    font-size: 0.8rem;

    li {
      margin: 0;
      padding: 0;
      display: inline-block;
    }

    a {
      color: $secondary-color;
      text-decoration: none;
      transition: color 150ms ease;
      margin: 0 1rem;
    }

    a:hover,
    a:focus {
      color: $title-color;
    }
  }
}

@media (min-width: 600px) {
  .header {
    padding: 1.5rem 0;
  }

  .nav-links {
    font-size: 1.1rem;
  }

  .posts {
    text-align: left;
  }

  .post-item-date {
    font-size: 1.1rem;
    text-align: right;
    float: right;
  }

  .post-item-link {
    text-overflow: ellipsis;
    max-width: calc(100% - 120px);
    white-space: nowrap;
    overflow: hidden;
  }

  .article-title {
    font-size: 1.5rem;
  }

  .footer-links {
    font-size: inherit;
  }
}
