{{ partial "head.html" . }}

<body>
    {{ partial "nav.html" . }}

    <section id="wrapper" class="post">
        <article>
            <header>
                <h1>
                    {{ .Title }}
                </h1>
                <h2 class="headline">
                    {{ .Date.Format "2006-01-02 15:04" }}
                    <span class="tags">
                        {{ with .Params.tags }}
                        {{ if ge (len .) 1 }}
                        {{ range . }}
                        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                        {{ end }}
                        {{ end}}
                    </span>
                </h2>
            </header>
            <!-- 全局开启并且单页开启 -->
            {{ $enableToc := and (.Site.Params.enableToc | default true) (.Params.enableToc | default true) }}
            {{ if $enableToc }}
            {{ if .TableOfContents }}
            <div id="toc">
                {{ .TableOfContents }}
            </div>
            {{ end }}
            {{ end }}
            <section id="post-body">
                {{ .Content }}
            </section>
        </article>

        {{ partial "footer.html" . }}
    </section>

    {{ partial "js.html" . }}
</body>

</html>